<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-bold mb-3" id="naslov" ><strong>Integer S.S. - Real Estate</strong></h3>
            <p>Integer smart solutions is a real estate services firm focused on delivering high 
                quality, customized 
                transactional and business process 
                management services to private sector and others clients.
            </p>
            <h3 class="font-weight-bold mb-3" ><strong>Working With a Real Estate Agent</strong></h3>
            <p>Selling a house involves more than just putting a house up for sale. In order to stand out
                 among all of the houses for sale, you need to market your house to potential buyers,
                  make sure your home listing is appealing, and eventually handle all of the necessary 
                  paperwork for selling a home. This is why it is 
                important to work with a qualified real estate professional when placing your house for sale.
            <br></p>
            <p>If you are looking to buy a house, you will definitely need the help of an agent 
                who is a local expert in your neighborhood. As you browse through home listings 
                and neighborhood data, you will inevitably have questions about a particular home 
                listing or neighborhood. Also, an agent may 
                have information on additional homes that you may not discover during your home listing search.
            </p>
            <h3 class="font-weight-bold mb-3" ><strong>Simplifying Home Buying & Home Selling</strong></h3>
            <p>Whether you’re looking for a quick and easy way to find a home or just casually browse
                 homes for sale, you’ve come to the right place. Integer Smart Solutions features 
                 for-sale property listings across the Montenegro and Croatia, 
                including new construction houses, foreclosed homes and Rentals</p>
        </div>
        <div class="col-lg-6" id="centar">
            <div class="container">
                <app-carousel-normal [images]="images"></app-carousel-normal>
                <h3 class="h3 animated pulse infinite" ><i class="fas fa-fire-alt fa-2x amber-text"></i></h3>
                <p>UNIQUE OFFER:<br>
                Exclusive villa for sale<br>
                in Kavac Montenegro</p>
            </div>
        </div>
    </div>
</div>