div.container-fluid{
    margin-top: 50px;
    padding: 0 10px;
}
div.row{
    text-align: center;
    margin-bottom: 30px;
    &:after{
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 20%;
        padding-top: 20px; 
        border-bottom: 4px solid rgba(3, 169, 244, 0.7); 
    }
}
i{
    margin-bottom: 20px;
}
agm-map{
    width: 100%;
    height: 500px;
}
a{
    color: inherit;
}