<div class="container-fluid">
    <h3 class="font-weight-bold mb-3"><strong>Systems</strong></h3>
<!-- Card deck -->
<div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/creston.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <h4 class="card-title">Electrical engineering – installations and systems</h4>
            <!--Text-->
            <p class="card-text"><i class="fas fa-check blue-text"></i> Electrical installations for homes and buildings </p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Lighting protection</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Overvoltage protection</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Fire detection and fire extinguishing</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Toxic and explosive gases detection</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Alarm – intrusion detection</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> IP, SDI and Analog video surveillance</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Audio and video intercom</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Parking management and billing</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> IP, digital and analog telecommunications</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/skidata.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <h4 class="card-title">Smart Home installations and systems</h4>
            <!--Text-->
            <p class="card-text"><i class="fas fa-check blue-text"></i> Audio and video integration and control</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Lighting control</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Air condition control</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Shutters control</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Security systems integration and management</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Intercom control</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Remote monitoring and control over internet</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/siemens.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <h4 class="card-title">Design and Construction</h4>
            <!--Text-->
            <p class="card-text"><i class="fas fa-check blue-text"></i> Electrical installations</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Fit out</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Landscaping</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> HVAC</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Plumbing and sewage</p>
            <p class="card-text"><i class="fas fa-check blue-text"></i> Construction</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      
          </div>
      
        </div>
        <!-- Card -->    
      </div>
      <!-- Card deck -->
      <button type="button" class="btn btn-outline-info btn-rounded btn-lg">Read more</button>
    </div>
