.container-fluid {
    margin-top: 50px;
}
.container-fluid{
    text-align: center;
    &:after{
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 20%;
        padding-top: 20px; 
        border-bottom: 4px solid rgba(3, 169, 244, 0.7); 
        }
}
button{
    border-radius: 20px;
}
h3{
    position: relative;
    &:after{
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 15%;
        padding-top: 1px; 
        border-bottom: 2px solid rgba(3, 169, 244, 0.7); 
        }
}
