agm-map{
    height: 400px;
    width: 100%;
}
div.container-fluid{
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #151321;
    color: #808080;
}
div.footer-copyright{
    background-color: #808080;
    color: rgba(255,255,255,0.35);
    width: 100% !important;
}
a{
    color: inherit;
}