<div class="container-fluid okvir">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="font-weight-bold mb-3" ><strong>SKIDATA Parking - Complete Solution</strong></h3>
                <p>SKIDATA is the world market leader in access and revenue management. The broad 
                    spectrum of proven standard to customized solutions 
                        guarantees every customer the optimal solution in order 
                        to maximize sales and to offer the best comfort. 
                        
                        Meanwhile, over 10,000 installations in over 100 countries 
                        enable the fast and secure access of
                         people and vehicles to ski resorts, stadiums, airports,
                          shopping malls, cities, spa & wellness facilities, trade fairs 
                          and amusement parks.
                    <br>
                </p>
                  <p> Perfect vehicle access management does not only play an important role 
                      in the parking lot. 
                        It does not begin at the entrance, but rather at your customer's 
                        home, such as with the reservation of
                         parking spaces. And it does not end at the exit. Because bonus 
                         points, a valuable overview of all the services used,
                         and numerous other benefits ensure that the perfect parking 
                         experience continues to have positive effects for your guests.
                      <br>  
                </p>
                <p>The SKIDATA complete solution takes your needs into account, and also the needs 
                    of your guests. 

                        SKIDATA offers you a broad spectrum of proven solutions ranging from standard
                         to customer-specific. The smart Parking.Logic software controls your entire facilities.
                         Intelligent and secure access management systems provide the highest level
                          of comfort for your guests and professional data and report management provides 
                          you with the 
                        reliable key figures that you need. The targeted optimization of operational 
                        processes increases your efficiency and a wide range of marketing and sales 
                        channels increase
                         turnover. The seamless integration of third-party systems also ensures high
                          flexibility.
                         A wide range of innovative service offerings rounds off the SKIDATA complete solution.
                        </p>
            </div>
            <div class="col-lg-6">
                <div class="container-fluid">
                    <img class="img-fluid" src="../../assets/images/skidata.jpg" alt="">
                </div>
                <div class="container-fluid">
                        <iframe src="https://www.youtube.com/embed/cZBCFKHx_5w">
                        </iframe> 
                </div>
            </div>
        </div>
    </div>
    
<div class="container-fluid okvir">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-bold mb-3" ><strong>Crestron -
                 Smart Home Technology, Home Automation and Lighting Control Systems</strong></h3>
            <p>Crestron Electronics is a leading provider of smart home technology, home automation and lighting control systems across the world. We have over 40 years experience of providing the ultimate technology lifestyle for homes, offices, schools, hospitals, hotels and more. We specialise in providing the smart home technology to help you stay connected wherever you are. Using our smart 
                home technology and home automation systems you can control your music, adjust your lights, 
                check your alarm system or change temperature settings all at the press of a button.
                <br>
            </p>
              <p> In schools Crestron technology can provide lighting control systems, remotely manage 
                classrooms. labs, conference rooms and auditoriums both locally and globally. At work 
                use our intuitive systems to carry out AV presentations, videoconferencing or simply to 
                update your digital signage across your business. Control lighting and shades with our 
                automation systems and add the Crestron control app to your mobile devices to manage your 
                systems wherever you are.
            </p>
        </div>
        <div class="col-lg-6">
            <div class="container-fluid">
                <img class="img-fluid" src="../../assets/images/creston.jpg" alt="">
            </div>
            <div class="container-fluid">
                    <iframe src="https://www.youtube.com/embed/GE051mAvSi4">
                    </iframe> 
            </div>
        </div>
    </div>
</div>
