
<section class="my-5">
        <div class="row">
      
          <!-- Grid column -->
          <div class="col-lg-5">
      
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" [src]="section.image" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-7">
      
            <!-- Category -->
            <a href="#!" class="blue-text">
              <h6 class="font-weight-bold mb-3" *ngIf="section.icon"><i class="far fa-id-card fa-lg blue-text"></i> About us</h6>
            </a>
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3" ><strong>{{section.title}}</strong></h3>
            <!-- Excerpt -->
            <p>{{section.text}}</p>
          </div>
    </div>      
</section>
