<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-bold mb-3" ><strong>Our Services</strong></h3>
            <p>
                If you are interested in doing business in Montenegro,
                or maybe you are already doing it, welcome! Business consulting
                with respect to Montenegro is Integer Smart Solutions core activity. We are a
                 team of business professionals with wide range of experience in doing 
                business in Montenegro, who may offer you expert knowledge of Montenegrin
                economic reality and a wide range of consulting services.
            </p>
            <h3 class="font-weight-bold mb-3" ><strong>Why Montenegro?</strong></h3>
            <p><i class="fas fa-check blue-text"></i> Dynamic economic growth and development</p>
            <p><i class="fas fa-check blue-text"></i> Strategic geographic position, with exit to the sea</p>
            <p><i class="fas fa-check blue-text"></i> Favorable tax climate (corporate tax 9%) </p>
            <p><i class="fas fa-check blue-text"></i> Easy business start-up </p>
            <p><i class="fas fa-check blue-text"></i> Treatment of foreign and domestic investors on the same basis</p>
            <p><i class="fas fa-check blue-text"></i> Hub for regional business</p>
            <p><i class="fas fa-check blue-text"></i> Qualified human resources </p>
            <p><i class="fas fa-check blue-text"></i> Montenegro has started EU accession discussions and is expected to join within the next 5 years</p>
            <p><i class="fas fa-check blue-text"></i> The World Travel and Tourism Council has rated Montenegro to be one of the top two fastest growing tourism economies over the next 10 years.</p>
            <p><i class="fas fa-check blue-text"></i> Pro-business Government</p>
        
        </div>
        <div class="col-lg-6">
            <div class="container" *ngFor="let image of images">
                <img [src]="image" alt="" class="w-100 d-block">
            </div>
        </div>
    </div>
</div>